#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #44CCFF;
    height: 100vh;
  
    > h1 {
      font-size: 5rem;
      height: 100vh;
    }
  }

  .button{
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  .mydiv{
    flex-direction: row;
    align-self: start;
    flex-direction:flex-start;
    margin-left: 5em;
    margin-bottom: 5em;
  }